# Compiled executables
*.exe
*.out

# Compiled object files
*.o

# Compiled dynamic libraries
*.dylib

# Compiled static libraries
*.a

# Ignore Xcode build directory
build/

# Ignore macOS system files
.DS_Store

# Ignore macOS directory metadata
*.DS_Store
.AppleDouble
.LSOverride